@model IEnumerable<DarbasGamykloje.ViewModels.FactoryListView>

@{
    ViewBag.Title = "FactoryListView";
}

<h2>FactoryListView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Factory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_Managerid_Manager)
        </th>
        <th>
            <label>from: </label>
        </th>
        <th>
            <label>to: </label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.maxCapacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id_Factory)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fk_Managerid_Manager)
    </td>
    <td>
        @Html.EditorFor(modelItem => item.from, new { Model = item.from })
    </td>
    <td>
        @Html.EditorFor(modelItem => item.to, new { Model = item.to })
    </td>
    <td>
        @Html.ActionLink("Generate schedule for this factory", "../Schedule/FactorySchedule",
        new { id = item.id_Factory, from = item.from, to = item.to })
    </td>
</tr>
    }

</table>
