@using DarbasGamykloje.Controllers.Schedule
@model IEnumerable<DarbasGamykloje.ViewModels.FactoryListView>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="~/Resources/FactoryListView.js"></script>

@{
    ViewBag.Title = "FactoryListView";
}

<h2>FactoryListView</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Factory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_Managerid_Manager)
        </th>
        <th>
            <label>from: </label>
        </th>
        <th>
            <label>to: </label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_Factory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_Managerid_Manager)
            </td>
            <td>
                <input type="text" value="@item.from.ToString()" data-factory-id="@item.id_Factory" class="date-from-js"/>
            </td>
            <td>
                <input type="text" value="@item.to.ToString()" data-factory-id="@item.id_Factory" class="date-to-js" />
            </td>
            <td>
                <button type="submit" data-factory-id="@item.id_Factory" class="btn btn-primary submit-js">Generate schedule for this factory</button>
            </td>
        </tr>
    }

</table>