@model IEnumerable<DarbasGamykloje.ViewModels.WorkerList>

@{ ViewBag.Title = "View"; }

<h2>Workers in factory</h2>

<div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_Worker)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_Worker)
        </td>
        <td>
            @Html.ActionLink("Check Salary", "WorkerSalary", new { id = item.id_Worker, name = item.Name, surname = item.Surname })
        </td>
    </tr>}

    </table>

    @Html.ActionLink("Back to list", "FactoryListForSelectingWorkers", "Factory")
</div>