@model IEnumerable<DarbasGamykloje.ViewModels.EditLivingSpaceView>

@{
    ViewBag.Title = "EditLivingSpace";

}


<h2>EditLivingSpace</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_LivingSpace)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_LivingSpace)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditLivingSpace", new { id = item.id_LivingSpace }, new { @class = "btn btn-primary-action" })
            </td>
        </tr>
    }

</table>
